<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jkza.mapper.GdSynergyMapper">
    
    <resultMap type="GdSynergy" id="GdSynergyResult">
        <result property="id"    column="id"    />
        <result property="projectguid"    column="ProjectGUID"    />
        <result property="noticenum"    column="NoticeNum"    />
        <result property="checkposition"    column="CheckPosition"    />
        <result property="noticetype"    column="NoticeType"    />
        <result property="checkdatet"    column="CheckDatet"    />
        <result property="isreply"    column="IsReply"    />
        <result property="createTime"    column="create_time"    />
        <result property="dataType"    column="data_type"    />
    </resultMap>

    <sql id="selectGdSynergyVo">
        select id, ProjectGUID, NoticeNum, CheckPosition, NoticeType, CheckDatet, IsReply, create_time, data_type from gd_synergy
    </sql>

    <select id="selectGdSynergyList" parameterType="GdSynergy" resultMap="GdSynergyResult">
        <include refid="selectGdSynergyVo"/>
        <where>  
            <if test="projectguid != null  and projectguid != ''"> and ProjectGUID = #{projectguid}</if>
            <if test="noticenum != null  and noticenum != ''"> and NoticeNum = #{noticenum}</if>
            <if test="checkposition != null  and checkposition != ''"> and CheckPosition = #{checkposition}</if>
            <if test="noticetype != null  and noticetype != ''"> and NoticeType = #{noticetype}</if>
            <if test="checkdatet != null "> and CheckDatet = #{checkdatet}</if>
            <if test="isreply != null  and isreply != ''"> and IsReply = #{isreply}</if>
            <if test="dataType != null "> and data_type = #{dataType}</if>
        </where>
    </select>
    
    <select id="selectGdSynergyById" parameterType="Long" resultMap="GdSynergyResult">
        <include refid="selectGdSynergyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGdSynergy" parameterType="GdSynergy" useGeneratedKeys="true" keyProperty="id">
        insert into gd_synergy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectguid != null">ProjectGUID,</if>
            <if test="noticenum != null">NoticeNum,</if>
            <if test="checkposition != null">CheckPosition,</if>
            <if test="noticetype != null">NoticeType,</if>
            <if test="checkdatet != null">CheckDatet,</if>
            <if test="isreply != null">IsReply,</if>
            <if test="createTime != null">create_time,</if>
            <if test="dataType != null">data_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectguid != null">#{projectguid},</if>
            <if test="noticenum != null">#{noticenum},</if>
            <if test="checkposition != null">#{checkposition},</if>
            <if test="noticetype != null">#{noticetype},</if>
            <if test="checkdatet != null">#{checkdatet},</if>
            <if test="isreply != null">#{isreply},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="dataType != null">#{dataType},</if>
         </trim>
    </insert>

    <update id="updateGdSynergy" parameterType="GdSynergy">
        update gd_synergy
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectguid != null">ProjectGUID = #{projectguid},</if>
            <if test="noticenum != null">NoticeNum = #{noticenum},</if>
            <if test="checkposition != null">CheckPosition = #{checkposition},</if>
            <if test="noticetype != null">NoticeType = #{noticetype},</if>
            <if test="checkdatet != null">CheckDatet = #{checkdatet},</if>
            <if test="isreply != null">IsReply = #{isreply},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGdSynergyById" parameterType="Long">
        delete from gd_synergy where id = #{id}
    </delete>

    <delete id="deleteGdSynergyByIds" parameterType="String">
        delete from gd_synergy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="freshGdSynergy">
        INSERT INTO gd_synergy(ProjectGUID,NoticeNum,CheckPosition,NoticeType,CheckDatet,IsReply,create_time,data_type)
        SELECT ProjectGUID,
               NoticeNum,
               CheckPosition,
               NoticeType,
               CheckDatet,
               IsReply,
               create_time,
               0
               FROM dt_rectificationnotice
    </insert>
</mapper>