<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jkza.mapper.StIllegalTrendMapper">
    
    <resultMap type="StIllegalTrend" id="StIllegalTrendResult">
        <result property="id"    column="id"    />
        <result property="time"    column="time"    />
        <result property="illegalFish"    column="illegal_fish"    />
        <result property="illegalDump"    column="illegal_dump"    />
        <result property="dataType"    column="data_type"    />
    </resultMap>

    <sql id="selectStIllegalTrendVo">
        select id, time, illegal_fish, illegal_dump, data_type from st_illegal_trend
    </sql>

    <select id="selectStIllegalTrendList" parameterType="StIllegalTrend" resultMap="StIllegalTrendResult">
        <include refid="selectStIllegalTrendVo"/>
        <where>  
            <if test="time != null "> and time = #{time}</if>
            <if test="illegalFish != null "> and illegal_fish = #{illegalFish}</if>
            <if test="illegalDump != null "> and illegal_dump = #{illegalDump}</if>
            <if test="dataType != null "> and data_type = #{dataType}</if>
        </where>
        order by time asc
    </select>
    
    <select id="selectStIllegalTrendById" parameterType="Long" resultMap="StIllegalTrendResult">
        <include refid="selectStIllegalTrendVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStIllegalTrend" parameterType="StIllegalTrend" useGeneratedKeys="true" keyProperty="id">
        insert into st_illegal_trend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="illegalFish != null">illegal_fish,</if>
            <if test="illegalDump != null">illegal_dump,</if>
            <if test="dataType != null">data_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="illegalFish != null">#{illegalFish},</if>
            <if test="illegalDump != null">#{illegalDump},</if>
            <if test="dataType != null">#{dataType},</if>
         </trim>
    </insert>

    <update id="updateStIllegalTrend" parameterType="StIllegalTrend">
        update st_illegal_trend
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="illegalFish != null">illegal_fish = #{illegalFish},</if>
            <if test="illegalDump != null">illegal_dump = #{illegalDump},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStIllegalTrendById" parameterType="Long">
        delete from st_illegal_trend where id = #{id}
    </delete>

    <delete id="deleteStIllegalTrendByIds" parameterType="String">
        delete from st_illegal_trend where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>