<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jkza.mapper.StVideoMapper">

    <resultMap type="StVideo" id="StVideoResult">
        <result property="id"    column="id"    />
        <result property="solidId"    column="solid_id"    />
        <result property="videoName"    column="video_name"    />
        <result property="coordinate"    column="coordinate"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="onlineType"    column="online_type"    />
        <result property="dataType"    column="data_type"    />
        <result property="solidName"    column="solid_name"    />
    </resultMap>

    <sql id="selectStVideoVo">
        select id, solid_id, video_name,coordinate, equipment_type, online_type, data_type from st_video
    </sql>
    <sql id="selectStVideoVoAndName">
        select t1.id, t1.solid_id, t1.video_name,t1.coordinate,t1.equipment_type,t1.online_type, t1.data_type,t2.solid_name,t2.id
        from st_video t1
                 left join st_solid_waste t2 on t1.solid_id = t2.id
    </sql>

    <select id="selectStVideoList" parameterType="StVideo" resultMap="StVideoResult">
        <include refid="selectStVideoVo"/>
        <where>
            <if test="solidId != null "> and solid_id = #{solidId}</if>
            <if test="videoName != null  and videoName != ''"> and video_name like concat('%', #{videoName}, '%')</if>
            <if test="coordinate != null  and coordinate != ''"> and coordinate = #{coordinate}</if>
            <if test="equipmentType != null "> and equipment_type = #{equipmentType}</if>
            <if test="onlineType != null "> and online_type = #{onlineType}</if>
            <if test="dataType != null "> and data_type = #{dataType}</if>
        </where>
    </select>
    <select id="selectStVideoListAndName" parameterType="StVideo" resultMap="StVideoResult">
        <include refid="selectStVideoVoAndName"/>
        <where>
            <if test="solidId != null "> and t1.solid_id = #{solidId}</if>
            <if test="videoName != null  and videoName != ''"> and t1.video_name like concat('%', #{videoName}, '%')</if>
            <if test="coordinate != null  and coordinate != ''"> and t1.coordinate = #{coordinate}</if>
            <if test="equipmentType != null "> and t1.equipment_type = #{equipmentType}</if>
            <if test="onlineType != null "> and t1.online_type = #{onlineType}</if>
            <if test="solidName != null  and solidName != ''"> and t2.solid_name like concat('%', #{solidName}, '%')</if>
            <if test="dataType != null "> and t1.data_type = #{dataType}</if>
        </where>
    </select>

    <select id="selectStVideoById" parameterType="Long" resultMap="StVideoResult">
        <include refid="selectStVideoVo"/>
        where id = #{id}
    </select>

    <insert id="insertStVideo" parameterType="StVideo" useGeneratedKeys="true" keyProperty="id">
        insert into st_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="solidId != null">solid_id,</if>
            <if test="videoName != null">video_name,</if>
            <if test="dataType != null">data_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="solidId != null">#{solidId},</if>
            <if test="videoName != null">#{videoName},</if>
            <if test="dataType != null">#{dataType},</if>
        </trim>
    </insert>

    <update id="updateStVideo" parameterType="StVideo">
        update st_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="solidId != null">solid_id = #{solidId},</if>
            <if test="videoName != null">video_name = #{videoName},</if>
            <if test="coordinate != null">coordinate = #{coordinate},</if>
            <if test="equipmentType != null">equipment_type = #{equipmentType},</if>
            <if test="onlineType != null">online_type = #{onlineType},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStVideoById" parameterType="Long">
        delete from st_video where id = #{id}
    </delete>

    <delete id="deleteStVideoByIds" parameterType="String">
        delete from st_video where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
