<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jkza.mapper.YjVideoBaseMapper">
    
    <resultMap type="YjVideoBase" id="YjVideoBaseResult">
        <result property="id"    column="id"    />
        <result property="videoSum"    column="video_sum"    />
        <result property="videoDuty"    column="video_duty"    />
        <result property="dataType"    column="data_type"    />
    </resultMap>

    <sql id="selectYjVideoBaseVo">
        select id, video_sum, video_duty, data_type from yj_video_base
    </sql>

    <select id="selectYjVideoBaseList" parameterType="YjVideoBase" resultMap="YjVideoBaseResult">
        <include refid="selectYjVideoBaseVo"/>
        <where>  
            <if test="videoSum != null "> and video_sum = #{videoSum}</if>
            <if test="videoDuty != null "> and video_duty = #{videoDuty}</if>
            <if test="dataType != null "> and data_type = #{dataType}</if>
        </where>
    </select>
    
    <select id="selectYjVideoBaseById" parameterType="Long" resultMap="YjVideoBaseResult">
        <include refid="selectYjVideoBaseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertYjVideoBase" parameterType="YjVideoBase" useGeneratedKeys="true" keyProperty="id">
        insert into yj_video_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="videoSum != null">video_sum,</if>
            <if test="videoDuty != null">video_duty,</if>
            <if test="dataType != null">data_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="videoSum != null">#{videoSum},</if>
            <if test="videoDuty != null">#{videoDuty},</if>
            <if test="dataType != null">#{dataType},</if>
         </trim>
    </insert>

    <update id="updateYjVideoBase" parameterType="YjVideoBase">
        update yj_video_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoSum != null">video_sum = #{videoSum},</if>
            <if test="videoDuty != null">video_duty = #{videoDuty},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYjVideoBaseById" parameterType="Long">
        delete from yj_video_base where id = #{id}
    </delete>

    <delete id="deleteYjVideoBaseByIds" parameterType="String">
        delete from yj_video_base where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>