<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.jkza.mapper.YyVideoMapper">

    <resultMap type="YyVideo" id="YyVideoResult">
        <result property="id"    column="id"    />
        <result property="hosId"    column="hos_id"    />
        <result property="hosName"    column="hos_name"    />
        <result property="jscId"    column="jsc_id"    />
        <result property="channelName"    column="channel_name"    />
        <result property="cameraType"    column="camera_type"    />
        <result property="networkStatus"    column="network_status"    />
        <result property="channelCode"    column="channel_code"    />
        <result property="gpsX"    column="gps_x"    />
        <result property="gpsY"    column="gps_y"    />
        <result property="dataType"    column="data_type"    />
    </resultMap>

    <sql id="selectYyVideoVo">
        select id, hos_id, hos_name, jsc_id, channel_name, camera_type, network_status, channel_code, gps_x, gps_y, data_type from yy_video
    </sql>

    <select id="selectYyVideoList" parameterType="YyVideo" resultMap="YyVideoResult">
        <include refid="selectYyVideoVo"/>
        <where>
            <if test="hosId != null "> and hos_id = #{hosId}</if>
            <if test="hosName != null  and hosName != ''"> and hos_name like concat('%', #{hosName}, '%')</if>
            <if test="jscId != null "> and jsc_id = #{jscId}</if>
            <if test="channelName != null  and channelName != ''"> and channel_name like concat('%', #{channelName}, '%')</if>
            <if test="cameraType != null "> and camera_type = #{cameraType}</if>
            <if test="networkStatus != null "> and network_status = #{networkStatus}</if>
            <if test="channelCode != null  and channelCode != ''"> and channel_code = #{channelCode}</if>
            <if test="gpsX != null "> and gps_x = #{gpsX}</if>
            <if test="gpsY != null "> and gps_y = #{gpsY}</if>
            <if test="dataType != null "> and data_type = #{dataType}</if>
        </where>
    </select>

    <select id="selectYyVideoById" parameterType="Long" resultMap="YyVideoResult">
        <include refid="selectYyVideoVo"/>
        where id = #{id}
    </select>

    <insert id="insertYyVideo" parameterType="YyVideo" useGeneratedKeys="true" keyProperty="id">
        insert into yy_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hosId != null">hos_id,</if>
            <if test="hosName != null">hos_name,</if>
            <if test="jscId != null">jsc_id,</if>
            <if test="channelName != null">channel_name,</if>
            <if test="cameraType != null">camera_type,</if>
            <if test="networkStatus != null">network_status,</if>
            <if test="channelCode != null">channel_code,</if>
            <if test="gpsX != null">gps_x,</if>
            <if test="gpsY != null">gps_y,</if>
            <if test="dataType != null">data_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hosId != null">#{hosId},</if>
            <if test="hosName != null">#{hosName},</if>
            <if test="jscId != null">#{jscId},</if>
            <if test="channelName != null">#{channelName},</if>
            <if test="cameraType != null">#{cameraType},</if>
            <if test="networkStatus != null">#{networkStatus},</if>
            <if test="channelCode != null">#{channelCode},</if>
            <if test="gpsX != null">#{gpsX},</if>
            <if test="gpsY != null">#{gpsY},</if>
            <if test="dataType != null">#{dataType},</if>
        </trim>
    </insert>

    <update id="updateYyVideo" parameterType="YyVideo">
        update yy_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="hosId != null">hos_id = #{hosId},</if>
            <if test="hosName != null">hos_name = #{hosName},</if>
            <if test="jscId != null">jsc_id = #{jscId},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="cameraType != null">camera_type = #{cameraType},</if>
            <if test="networkStatus != null">network_status = #{networkStatus},</if>
            <if test="channelCode != null">channel_code = #{channelCode},</if>
            <if test="gpsX != null">gps_x = #{gpsX},</if>
            <if test="gpsY != null">gps_y = #{gpsY},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYyVideoById" parameterType="Long">
        delete from yy_video where id = #{id}
    </delete>

    <update id="truncateYyVideo">
        TRUNCATE TABLE yy_video
    </update>

    <delete id="deleteYyVideoByIds" parameterType="String">
        delete from yy_video where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectYyClassify" parameterType="String" resultType="java.util.HashMap">
        select channel_code,scene_name,channel_name
        from adm_tdcjgl
        where channel_code = #{channelCode}
    </select>
</mapper>